name: Deploy Frontend
on:
  push:
    branches: ["main"] # У вас на скрине ветка называется main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install and Build
        run: |
          cd bonum-front-main
          npm install
          # Используем npx vite build, чтобы обойти ошибки TypeScript и собрать проект
          npx vite build 

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Проверьте, создается ли папка dist внутри bonum-front-main
          path: ./bonum-front-main/dist 

  deploy:
    needs: build-and-deploy
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
